.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Editar Pin
      .panel-body
        %strong.center Imagen actual
        %br/
        = image_tag @pin.image.url(:medium)
        = render "form"
        = link_to "Cancelar", pin_path
