#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), category_pin_path(@category, pin)
      .panel-body
        %h2= link_to pin.title, category_pin_path(@category, pin)
        %p.user
          Agregado por:
          = pin.user.email
